html, body, #page1, #page2, #page3, #site {height:1000px;width:100%; overflow: hidden;}
.prev, .next {
    display:table;        
    overflow:hidden;
    height:100%;
    width:1.5em;
    position:absolute;
    top:0;
}
.prev{
  left:0
}
.next{
  right:0
}

.prev a, .next a {
    display:table-cell;
    vertical-align:middle;
    height:30px;
    text-align:center;
    background:#333;
    text-decoration:none;
    color:#999;
    font-weight:900;
    font-size:1.5em
}
.prev a:hover, .next a:hover {color:#eee;}
.prev a{
    border-radius:0 0.5em 0.5em 0;   
}
.next a{
    border-radius:0.5em 0 0 0.5em;
}
p {padding:2em}
h1 {font-size:2em;padding:1em;font-weight:900}
