html, body, div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary, time, mark, audio, video {
	margin: 0 auto;
	padding: 0;
	border: 0;
	outline: 0;
	font-size: 100%;
	vertical-align: baseline;
	background: black;
}
html, body, #page1, #page2, #page3, #site {
	/*height:1000px;*/
	width:100%; 
	background:black;
	/*overflow: hidden;*/
}
/*.prev, .next {
    display:table;        
    overflow:hidden;
    height:100%;
    width:1.5em;
    position:absolute;
    top:0;
}*/
body {
	width: 100% auto;;
	height: 100%;
	text-align: center;
	/*overflow:hidden;*/
}
.wrapper {
	display: block;
	margin: auto;
}
.clear{
	clear: both;
}

.nothing_start{
	left:0;
	background-image: url('../images/empty.jpg');
	background-repeat:no-repeat;	
	position:absolute;
	width: 61px;
	height: 683px;
	top:0;
}
.nothing_end{
	right:0;
	background-image: url('../images/empty.jpg');
	background-repeat:no-repeat;	
	position:absolute;
	width: 53px;
	height: 683px;
	top:0;
}
.prev{
	left:0;
	background-image: url('../images/page_left.jpg');
	background-repeat:no-repeat;
	float:left;
	width: 61px;
	height: 683px;
	
}
.img_content1{
	background-image: url('../images/page1_center.jpg');
	background-repeat:no-repeat;
	width: 1164px;
	height: 683px;
}
.img_content2{
	background-image: url('../images/page2_center.jpg');
	background-repeat:no-repeat;
	width: 1164px;
	height: 683px;
}
.img_content3{
	background-image: url('../images/page3_center.jpg');
	background-repeat:no-repeat;
	width: 1164px;
	height: 683px;
}
.img_content4{
	background-image: url('../images/page4_center.jpg');
	background-repeat:no-repeat;
	width: 1164px;
	height: 683px;
}
.next{
	right:0;
	background-image: url('../images/page_right.jpg');
	background-repeat:no-repeat;
	position:absolute;
	width: 53px;
	height: 683px;
	top:0;
}
#download{
	position: absolute;
	top: 580px;
	left: 155px;
	width:220px;
	height: 60px;
}
/*.prev a, .next a {
    display:table-cell;
    vertical-align:middle;
    height:30px;
    text-align:center;
    background:#333;
    text-decoration:none;
    color:#999;
    font-weight:900;
    font-size:1.5em
}*/
/*.prev a:hover, .next a:hover {color:#eee;}
.prev a{
    border-radius:0 0.5em 0.5em 0;   
}
.next a{
    border-radius:0.5em 0 0 0.5em;
}*/
/*p {padding:2em}
h1 {font-size:2em;padding:1em;font-weight:900}*/
