* {
	padding:0px;
	margin:0px;
}
/*
header,section,nav,aside,footer {
	display:block;
}
#wrapper {
	margin: 5px 5px;
	width: 300px; 
	height: 350px;
	background-color: #FFFEE8;
}


nav {
	background-color: #54B1F7;
	height: 15%;

}
section {
	height: 70%;
}
footer {
	background-color: #54B1F7;
	height: 15%;
}
*/

body {
    font: normal 12px/16px helvetica,aria,sans-serif;
}
div,p { margin: 0; padding: 0; }

.clr { overflow: hidden; }
.left { float: left; }
.right { float: right; }

a {
	color: #3681b3;
	text-decoration: none;
}
a:hover { color: #265c80; }
a:active { color: #000; }

#wrap {
    width: 300px;
    padding-top: 9px;
    font-size: 12px;
    color: #888;
}

#wrap>div { display: none; }

#loading .loader {
    position: relative;
    border-top: 12px dotted #000;
    height: 9px;
}

#loading .bar {
    position: absolute;
    top: -21px;
    left: 0;
    height: 30px;
    width: 0%;
    background: #fff url(loader.gif) scroll no-repeat center right;
}
p { word-wrap: break-word; }

.clear {
	clear:both;
}