@import url(http://fonts.googleapis.com/css?family=Roboto:400,300,700);
*{
	padding: 0;
	margin:0;
	
}
.hitstory header{
	font-family: 'Roboto', cursive;
	padding:8px;
	background-color: #E5E5E5;
}
.hitstory header p{
	font-family: 'Roboto', cursive;
	font-style:normal;
	font-weight:300;
	background-color: #E5E5E5;
	font-size: 14px;
}
.hitstory .wrapper{font-family: 'Roboto', cursive; margin: 0px 0px 0px 0px; }
.hitstory .wrapper.spinner{margin: 29px;}

.hitstory ul{list-style: none; width:auto; margin:0;}
.hitstory ul li a{ color:black;text-decoration:none;font-size: 14px; width:300px;padding-left:10px}
.hitstory ul li{ padding:9px; text-align: center;width:300px}
.duration1,.duration2,.duration3,.duration4,.duration5{
	width:300px;
}
.hitstory ul li:hover{ background-color: white;opacity: 0.7;}
.hitstory .duration1{ background-color: #B0E2FF;text-align: left;border-bottom: 1px solid #CCCCCC;}
.hitstory .duration2{ background-color: #87CEFA;text-align: left;border-bottom: 1px solid #CCCCCC;}
.hitstory .duration3{ background-color: #63B8FF;text-align: left;border-bottom: 1px solid #CCCCCC;}
.hitstory .duration4{ background-color: #33A1C9;text-align: left;border-bottom: 1px solid #CCCCCC;}
.hitstory .duration5{ background-color: #1C86EE;text-align: left;border-bottom: 1px solid #CCCCCC;}

.hitstory header, footer{ text-align: center; }

.hitstory header{ border-bottom: 1px #666666 solid; }
.hitstory footer{ border-top: 1px #666666 solid;padding:6px;font-family: 'Roboto', cursive; 
background-color: #E5E5E5;font-size: 14px;
}

.hitstory header h3,header p{ margin: 5px 0px; }
.hirarchy{
	
	color:black;
	text-decoration: none;
}
