@import url(http://fonts.googleapis.com/css?family=Pacifico);

.wrapper{font-family: 'Pacifico', cursive; margin: 5px 35px 5px 0px;}
ul{list-style: none; }
ul li{ padding:9px; text-align: center;}

.duration1{ background-color: #95A5A6;}
.duration1:hover{ background-color: #7F8C8D;}
.duration2{ background-color: #1ABC9C;}
.duration2:hover{ background-color: #16A085;}
.duration3{ background-color: #2ECC71;}
.duration3:hover{ background-color: #27AE60;}
.duration4{ background-color: #3498DB;}
.duration4:hover{ background-color: #2980B9;}
.duration5{ background-color: #E74C3C;}
.duration5:hover{ background-color: #C0392B;}

header, footer{ text-align: center; }

header{ border-bottom: 1px black solid; }
footer{ border-top: 1px black solid; }

header h3,header p{ margin: 5px 0px; }
